* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #7e481c, #3a1f04);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #65350f;
  
}

form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s;
}

form input:focus {
  border-color: #4a00e0;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #65350f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5e00ff;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.signup-link a {
  color: #4a00e0;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
